@CHARSET "UTF-8";
*{padding: 0;margin: 0;}
body{width: 100%;height: 100%;background-image: url("../images/qqq.jpg");background-repeat: repeat-y;}
.body{width: 490px;height: 654px; background-image: url("../images/bgs.jpg");background-size: cover; }
#wrap {margin-top: 50px;margin-left: 54px;}
#wrap #right{float:left;width:380px;height:475px;padding:0px 0 0 0px;}
#wrap #right #imgArea{width:380px;height:475px;position:relative;}
#wrap #right #imgArea div.imgCell{float:left;width:95px;height:95px;border:1px solid #fff;border-radius:4px;position:absolute;z-index:10;box-shadow:0px 0px 8px #fff;transition-property:background-position;transition-duration:300ms;transition-timing-function:ease-in-out;}
#wrap #right #imgArea div.hover{filter: alpha(opacity=80);opacity:.8;box-shadow: 0px 0px 8px #000;z-index:20;*border:1px solid #09F;}
.hover_div{border:1px solid #099; }
.btn{position:absolute;top: 586px;left: 51px;z-index: 10;}
.q_img{position:absolute;top: 93px;left: 52px;z-index: 40;display:none;width: 384px;}