@charset "utf-8";
a,img{border:0;}

#holder{margin:0px auto 0 300px;height:20px;padding-top:25px; }
.cntSeparator{display:block;color:#fff;font-size:30px;font-weight:800;text-align:center;width:20px; }